/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height */
    font-family: Helvetica, sans-serif;
}

/* fim do reset */